body{
  max-width: 1100px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

.header{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01091e;
  border: solid #e11661 ;
  border-radius: 20px;
  padding: 8px;
}

.header img{
  width: 100px;
  border-radius: 50%;
}

.lista{
  display: flex;
}

.lista li{
  color: #fff;
  list-style: none;
  margin-right:25px;
  padding: 10px;
  font-weight: bold;  
}

.nav{
  color: #fff;
  text-decoration: none;
}

.nav:hover{
  color: #06e6f7;
}

.wraper{
  margin-top: 40px;
  height: 400px;
  
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home figure ,article{
  border: solid;
  width: 50%;
}
.nosotros{
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nosotros .caja1,.caja2{
  text-align: center;
  width: 50%;
  height: 400px;
}




@media (max-width:600px){
  body{
    font-size: 16px;
  }
   
  .header img{
    width: 50px;
  }
}